.App
{
  background-color: rgba(24,24,24,255);
  background-image: url("./photos/Screenshot\ 2024-07-06\ 031529.png")
}
#nav
{
  background-color: rgb(32, 32, 32);
  height: 80px;
  padding: 10px;
  
}
#search
{
  color: white;
  font-weight: bolder;
}
#main-head
{
  font-size: small;
  margin-bottom: 5px ;
  color: white;
  text-align: center;
  margin-top: -21px;
  font-weight: bold;
  line-height: 20px;
  
}

#cal
{
  color: white;
  float: right;
  margin-top: -25px;
}
#date
{
  width: 50px;
 
}
#head
{
  color: rgba(255, 255, 255, 0.505);
  font-size: small;
}
#day
{
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction:row;
  cursor:context-menu;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#day1
{
  font-size: larger;
  margin-top: 7px;
}
#day2
{
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.181);
  margin-top: -2px;
  font-weight: 2px;
}
#nav2
{
  flex-direction: row;
  display: flex ;
  
}
#ex,#in,#bal
{
  color: rgba(255, 255, 255, 0.514);
  margin-left: 35px;
  font-size: small;
  margin-top: 3px;
}
#inn
{
  margin-left: 10px;
}
#exx,#inn,#ball
{
  width: 70px;
  flex-direction: column;
}
#ex1,#in1,#bal1
{
  margin-left: 35px;
  color: white;
  font-size: x-large;
}
#navv
{
  background-color: rgb(32, 32, 32);
  width: 93%;
  margin-top:577px;
  padding:10px;
  }
  #records
  {
    color: rgba(255, 255, 255, 0.525);
    flex-direction: row;
    align-items: center;
    width: fit-content;
  }